body{
	background-color: lightseagreen;
	text-align: center;
	padding-top: 3%;
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.hi{
	margin: auto;
	background-color: white;
	opacity: 0.6;
	height: 700px;
	width: 600px;
	padding-top: 5px;
	border-width: 10px;
	border-color: black;
	border-style: solid;
}
#rickyy{
	opacity: 150%;
}

